@font-face {
    font-family: 'Epos Normal';
    src: url('../public/assets/font/Epos-Normal.woff2') format('woff2'),
         url('../public/assets/font/Epos-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.App {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: radial-gradient(ellipse at center, #1a0033 0%, #000000 100%);
  overflow: hidden;
}

.center-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 500;
  pointer-events: none;
}

.center-image {
  width: 400px;
  height: auto;
  filter: drop-shadow(0 0 20px rgba(255, 140, 50, 0.4));
}

.top-text-content {
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 600;
  pointer-events: none;
  mix-blend-mode: difference;
  font-family: 'Epos Normal', sans-serif;

}

.parallax-title {
  font-size: 13rem;
  font-weight: 500;
  /* letter-spacing: 1rem; */
  margin: 0;
  text-align: center;
  color: rgb(255, 255, 255);
  /* -webkit-text-stroke: 2px rgba(51, 26, 13, 0.8); */
}